@import "./theme.scss";
@import "./prism.module.scss";
.HitsWrapper {
  > * + * {
    padding-top: 1em;
    border-top: 1px solid #dfe1e6;
  }
  li + li {
    margin-top: 0.7em;
    padding-top: 0.7em;
    border-top: 1px solid #dfe1e6;
  }
  * {
    margin-top: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
}
.InstantSearchRoot {
  display: grid;
  grid-gap: 1em;
}

.StyleDesc,
.StyleSubTitle {
  mark {
    border-bottom: 2px solid map-deep-get($colors-render, "border", "warning");
    background: transparent;
  }
}
.StyleLink {
  mark {
    color: map-deep-get($colors-render, "text", "dark");
    background: map-deep-get($colors-render, "background", "warning");
  }
}

.AnchorWrapper {
  padding-right: 1em;
}
.AnchorItem {
  font-size: 90%;
  right: 0.3em;
  padding-top: 0.1em;
  opacity: 0;

  &:focus,
  .Heading:hover & {
    text-decoration: none;
    opacity: 0.5;
  }
}

.CallOut {
  border-left: 4px solid transparent;
  padding: 1.2rem 1.2rem 1.2rem calc(1rem - 4px);
  margin-left: -1rem;
  margin-bottom: 2rem;
}

.CallOut--warning {
  background-color: transparentize($note, 0.7);
  border-left-color: $note;
}
.CallOut--danger {
  background-color: transparentize($error, 0.7);
  border-left-color: $error;
}

.Heading {
  position: relative;
  pointer-events: none;

  &:before {
    display: block;
    height: 6rem;
    margin-top: -6rem;
    visibility: hidden;
    content: "";
  }
}
.HeadingInner {
  pointer-events: auto;
  cursor: pointer;
}

.PropDescription {
  & pre {
    border-radius: 0;
    border-width: 0;
    border-left-width: 3px;
  }
}

.SidePanel {
  @include media-breakpoint-up(md) {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 100vh;
    border-right: 1px solid $divider;
  }
}

.OverflowWrapper {
  @include media-breakpoint-up(md) {
    overflow: hidden;
    display: block !important;
    height: 100% !important;
  }
}

.MenuWrapper {
  @include media-breakpoint-up(md) {
    height: 100% !important;
    overflow: auto;
  }
}

.TocSidePanel {
  order: 2;
  position: sticky;
  top: 4rem;
  height: calc(100vh - 4rem);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 0.875rem;
  overflow-y: auto;

  & > ul {
    padding-left: 0;
    border-left: 1px solid $divider;

    & ul {
      padding-left: 1rem;
    }
  }
}

.TocListItem {
  & a {
    display: block;
    padding: 0.125rem 1rem;
    color: transparentize($text, 0.4);

    &:hover {
      text-decoration: none;
    }
  }
}

.ReleaseNotes {
  h2 {
    @each $pro, $proval in map-get(map-deep-get($fonts, "typography"), "h3") {
      #{$pro}: $proval;
    }
  }
  h3 {
    @each $pro, $proval in map-get(map-deep-get($fonts, "typography"), "h4") {
      #{$pro}: $proval;
    }
  }
}

.PropTable {
  .DefaultValue {
    pre {
      padding: 0 8px !important;
      background: transparent !important;
      font-size: 14px !important;
    }
  }
}
