.example-borders {
  [class^="u-border"] {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: 0.25rem;
    background-color: #f5f5f5;
  }
}
.example-backgroundColors [class^="u-background"],
.example-cursors [class^="u-cursor"],
.example-boxShadow [class^="u-shadow"] {
    padding: 16px;
    margin-bottom: 12px;
}
.example-cursors [class^="u-cursor"] {
  background-color: #5E6C84;
  color: white;
}

.example-boxShadow [class^="u-shadow"],
.example-progress .Progress,
.example-sessionType .SessionType,
.example-paginations ul[class^="Pagination"],
.example-messages [role="alert"]  {
  margin-bottom: 24px;
}

.example-padding {
  [class^="u-padding"] {
    display: inline-flex;
    margin: 8px;
    background-color: #5E6C84;
  }
}
.example-grids {
  .Grid {
    padding-bottom: 1rem;
    &:first-child {
      padding-top: 1rem;
    }
  }
  [class^="u-size"] {
    span {
      background-color: rgba(#172B4D, 0.12);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 0;
      text-align: center;
      height: 100%;
    }
  }
}

.example-flexbox {
  .b-highlight {
    background-color: rgba(23,43,77,0.07);
    border: 1px solid rgba(23,43,77,0.07);
  }
}

.example-modal {
  .Modal-dialog {
    margin: 0 auto;
  }
}
