.u-animationFadeOut {
  animation-name: fadeOut;
}

.u-animationFadeOutDown {
  animation-name: fadeOutDown;
}

.u-animationFadeOutDownBig {
  animation-name: fadeOutDownBig;
}

.u-animationFadeOutLeft {
  animation-name: fadeOutLeft;
}

.u-animationFadeOutLeftBig {
  animation-name: fadeOutLeftBig;
}

.u-animationFadeOutRight {
  animation-name: fadeOutRight;
}

.u-animationFadeOutRightBig {
  animation-name: fadeOutRightBig;
}

.u-animationFadeOutUp {
  animation-name: fadeOutUp;
}

.u-animationFadeOutUpBig {
  animation-name: fadeOutUpBig;
}
