.u-animationFadeIn {
  animation-name: fadeIn;
}

.u-animationFadeInDown {
  animation-name: fadeInDown;
}

.u-animationFadeInDownBig {
  animation-name: fadeInDownBig;
}

.u-animationFadeInLeft {
  animation-name: fadeInLeft;
}

.u-animationFadeInLeftBig {
  animation-name: fadeInLeftBig;
}

.u-animationFadeInRight {
  animation-name: fadeInRight;
}

.u-animationFadeInRightBig {
  animation-name: fadeInRightBig;
}

.u-animationFadeInUp {
  animation-name: fadeInUp;
}

.u-animationFadeInUpBig {
  animation-name: fadeInUpBig;
}
