.Skeleton {
  animation-iteration-count: infinite;
  animation-name: skeleton-animation;
  animation-timing-function: ease-in-out;

  + .Skeleton {
    margin-top: 8px;
  }
}

@keyframes skeleton-animation {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
