/*!
 * Deprecated Utilities class
 * Since 2.0.2
 */

// Flex
.u-flexGrow-0 {
  flex-grow: 0;
}

.u-flexGrow-1 {
  flex-grow: 1;
}

.u-flexShrink-0 {
  flex-shrink: 0;
}

.u-flexShrink-1 {
  flex-shrink: 1;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @if $infix != '' {
      .#{$infix}\:u-flexGrow-0 {
        flex-grow: 0;
      }

      .#{$infix}\:u-flexGrow-1 {
        flex-grow: 1;
      }

      .#{$infix}\:u-flexShrink-0 {
        flex-shrink: 0;
      }

      .#{$infix}\:u-flexShrink-1 {
        flex-shrink: 1;
      }
    }
  }
}

// Position
.u-positionTop-50 {
  top: 50%;
}

.u-positionTop-100 {
  top: 100%;
}

.u-positionRight-50 {
  right: 50%;
}

.u-positionRight-100 {
  right: 100%;
}

.u-positionBottom-50 {
  bottom: 50%;
}

.u-positionBottom-100 {
  bottom: 100%;
}

.u-positionLeft-50 {
  left: 50%;
}

.u-positionLeft-100 {
  left: 100%;
}

// Opacity

@each $key, $value in (
  none: 0,
  quarter: 0.25,
  half: 0.5,
  threeQuarter: 0.75,
  reset: 1
) {
  .u-opacity#{capitalize($key)} {
    opacity: $value;
  }
  .hover\:u-opacity#{capitalize($key)}:hover {
    @media (hover: hover) {
      opacity: $value;
    }
  }
}

// BackgroundColor
.u-backgroundLightalt {
  background-color: map-deep-get($colors-render, "background", "lightAlt");
}

.hover\:u-backgroundLightalt:hover {
  @media (hover: hover) {
    background-color: map-deep-get($colors-render, "background", "lightAlt");
  }
}

// Text

[class*="u-textTruncate-"] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.u-textTruncate-2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.u-textTruncate-3 {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.u-textTruncate-4 {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.u-textTruncate-5 {
  -webkit-line-clamp: 5;
  line-clamp: 5;
}
