// my overrides

$lighter: #373940; // light blue
$dark: #282c34; // dark blue
$darker: #20232a; // really dark blue
$brand: #61dafb; // electric blue
$brand-light: #bbeffd;
$text: #1a1a1a; // very dark grey / black substitute
$subtle: #6d6d6d; // light grey for text
$subtle-on-dark: #999;
$divider: #ececec; // very light grey
$note: #ffe564; // yellow
$error: #ff6464; // yellow
$white: #ffffff;
$black: #000000;

@import '@ahaui/css/scss/_functions.scss';
@import '@ahaui/css/scss/variables/_index.scss';
@import '@ahaui/css/scss/_mixins.scss';
