// Single side border-radius

@mixin border-radius($radius: $border-radius) {
  @if map-get($configs, "rounded") {
    border-radius: $radius;
  }
}

@mixin border-top-radius($radius) {
  @if map-get($configs, "rounded") {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }
}

@mixin border-right-radius($radius) {
  @if map-get($configs, "rounded") {
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
  }
}

@mixin border-bottom-radius($radius) {
  @if map-get($configs, "rounded") {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}

@mixin border-left-radius($radius) {
  @if map-get($configs, "rounded") {
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
  }
}
