// The CSS object-fit property specifies whether the text of an element can be selected.
.u-userSelectAuto {
  user-select: auto;
}

.u-userSelectNone {
  user-select: none;
}

.u-userSelectText {
  user-select: text;
}

.u-userSelectAll {
  user-select: all;
}
